DATABASE_URL=sqlite+aiosqlite:///telegram_bot.db
ECHO=false

# Public base URL for your webhook (ngrok/https domain)
WEBHOOK_BASE_URL=

# Local server bind
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=8080

# Webhook paths
WEBHOOK_PATH_PREFIX=/telegram
WEBHOOK_PATH=/telegram/webhook

# Optional security
WEBHOOK_SECRET_TOKEN=

# Telegram webhook settings
WEBHOOK_DROP_PENDING_UPDATES=true
WEBHOOK_ALLOWED_UPDATES=message,callback_query

MANAGER_IDS=[123123,91237981]
MANAGER_SCRIPTS=[manager_scripts/script1.txt]

LLM_PROVIDER=openai
LLM_API_KEY=mysupersecrettoken
LLM_MODEL=gpt100500

# can be "dev" or "prod". currently controlls log levels
ENV=dev

BOT_TOKENS=token1,token2
BOT_NAMES=bot1,bot2